body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}